/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* end of reset css*/

:root {
  --websiteTheme: rgb(0, 0, 0);
  --white: rgb(255, 255, 255);
  --defaultFont: "Poppins", sans-serif;
  --headingFontSize: 70px;
}

html {
  scroll-behavior: smooth;
}
a {
  color: var(--white);
  text-decoration: none;
}

body {
  font-family: var(--defaultFont);
  color: var(--websiteTheme);
  overflow-x: hidden;
  overflow-y: scroll;
}

header {
  display: flex;
  max-width: 90rem;
  justify-content: space-between;
  left: 0;
  right: 0;
  margin: auto;
  padding: 20px 12.5%;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
}
.logo {
  color: var(--white);
  font-size: 50px;
  text-transform: uppercase;
}
nav ul {
  display: flex;
  gap: 30px;
}
.nav-el {
  text-transform: capitalize;
  font-size: 20;
}

#hero-section {
  color: var(--white);
  background-image: url(/assets/images/307193.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow-x: hidden;
}
main {
  height: 100%;
  width: 100%;
  display: flex;
}
.hero-text-search-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90rem;
  width: 90%;
  margin: auto;
  height: 500px;
}
.hero-text {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.caption {
  font-size: var(--headingFontSize);
  text-transform: capitalize;
}
.caption-desc {
  font-size: 24px;
  text-transform: capitalize;
}
.input-box {
  width: 40%;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.14);
  border-radius: 30px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-box i {
  padding-right: 30px;
}
.input-box input {
  width: 60%;
  border-radius: 30px;
  height: 60px;
  outline: none;
  border: hidden;
  background-color: transparent;
}
.input-box input::placeholder {
  padding-left: 30px;
  font-size: 20px;
  color: rgb(255, 255, 255, 0.4);
}
.hero-carousel {
  height: 500px;
  width: 800px;
  position: relative;
  overflow: hidden;
}

.slide {
  height: 100%;
  width: 100%;

  object-fit: cover;
  transition: 1s;
  position: absolute;
}
.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(1.2);
  transition: 0.5s transform;
}

#plp-section {
  height: 100vh;
  width: 100vw;
  position: relative;
}
h1 {
  text-transform: capitalize;
  font-size: var(--headingFontSize);
  text-align: center;
}
.button {
  height: 50px;
  width: 150px;
  border-radius: 30px;
  outline: none;
  border: hidden;
  cursor: pointer;
  text-transform: capitalize;
  font-family: var(--defaultFont);
}
.show-catalog {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 16px;
  text-transform: capitalize;
}

.show-catalog a {
  color: rgb(0, 0, 0);
  font-size: 18px;
}
.car {
  width: 400px;
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
}
.hovered-element {
  display: none;

  position: absolute;
  /* top: 50%; */
  /* left: 50%; */
  height: 100%;
  width: 100%;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.car:hover .hovered-element {
  display: grid;
  place-content: center;
}
.hovered-element button {
  background-color: var(--websiteTheme);
  color: white;
}

.result-img-container {
  width: 100%;
}
.result-img-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.result-details {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  text-align: center;
}
.car-name {
  font-size: 24px;
  font-weight: 600;
}
.price {
  margin-top: 10px;
}
.car-container {
  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  width: 90%;
  margin: auto;
  margin-top: 100px;
}
.builder-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  height: 90vh;
  background-color: white;
  border: 1px solid black;
  padding: 10px 30px;

  border-radius: 30px;
  z-index: 99;
  display: none;
  position: relative;
}
.no-scroll {
  overflow: hidden;
}

.open-builder {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 1;
  z-index: 999;
}
.close-container {
  display: flex;
  justify-content: flex-end;
  z-index: 999;
}
.close-container i {
  padding-right: 20px;
  font-size: 40px;
  cursor: pointer;
}

/* builder container  */

.car-title {
  font-size: 35px;
  z-index: 999;
}
.build-car-image {
  height: 50%;
  margin: 0 auto;
}
.build-car-image img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  scale: 1.5;
}
.property-heading {
  font-size: 30px;
  text-transform: capitalize;
}
.property {
  display: grid;
  place-content: center;
  height: 60px;
  width: 100px;
  border: 1px solid black;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
}
.property-name-wrapper {
  display: flex;
  gap: 10px;
  z-index: 999;
}
.property-values {
  width: fit-content;
  position: absolute;
  bottom: 100px;
  display: flex;
  gap: 10px;
}
.color {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}
.color img {
  height: 100%;
  width: 50%;
}
.wheel{
    display: flex;
  justify-content: space-between;
  height: 100px;
  width: 200px;
  border-radius: 5px;
  border: 1px solid black;
  cursor: pointer;
}
.hide {
  display: none;
}
/* .color-heading {
  height: 100%;
  width: 100%;
} */
.property-name-price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.final-price {
  font-size: 50px;
}
